body{
    font-family: Arial, sans-serif;
    margin: 3vw;
    padding: 0;
    background-color: #f4f4f4;
    color: navy;
    font-size: 1.2em;
}
li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
    cursor: pointer;
    font-style: italic;
}