body {
    font-size: 1em;
    line-height: 1.5rem;
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

label {
    color: navy;
    width: 200px;
    display: inline-block;
}

small {
    color: red;
    font-style: italic;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 200px;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: red;
}

.card {
    width: 24vw;
    height: auto;
    background-color: lightgray;
    border-radius: 10px;
    margin: 20px;
    display: inline-block;
    text-align: center;
}

.card-img-top {
    height: 8vw;
    width: auto;
    border-radius: 50%;
    margin-top: 20px;
}
card-title {
    color: navy;
    font-size: 1.5em;
    margin-top: 20px;
}