<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS ciklusok</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Asszociatív tömb elemei <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for...in" target="_blank">for...in</a> ciklussal</h1>
    <ul>
        <% for (let key in users) { %>
            <li><%= key %>: <%= users[key].name %>(<%= users[key].age %>), <%= users[key].city %></li>
        <% } %>
    </ul>
</body>
</html>